*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-content{
    flex: 1 0 auto;
}
