.tabs {
    padding-top: 100px;
}
.tabs__button {
    border: none;
    background-color: #fff;
    padding: 15px 95px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.tabs__button--active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.tabs__content {
    display: flex;   
}
.tabs__content-text {
    
    padding:  1px 30px 27px 100px;
    border: 1px solid;
    border-right: none;
    padding-top: 60px;
}
.tabs__content-title {
    font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 41px;
text-align: left;
}
.tabs__content-discription {
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
padding-top: 27px;
line-height: 30px;
padding-bottom: 27px;
}
.tabs__content-download {
    
    font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 600;
line-height: 25px;
text-align: center;
background-color:rgba(236, 121, 121, 1) ;
height: 58px;
width: 270px;
}
.link-download{
    text-decoration: none;
    color: #fff;
}
